.env
practicas/~$smoking_prediction.xlsx
practicas/german/Entregable 3/training.1600000.processed.noemoticon.csv
practicas/german/Entregable 3/testdata.manual.2009.06.14.csv
practicas/Fede/Entregable 3/training.1600000.processed.noemoticon.csv
practicas/Fede/Entregable 3/testdata.manual.2009.06.14.csv